<div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Add Employee Salary Parameter</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" id="frmCreate">

                                <div class="card-body">
                                    <div class="live-preview">

                                        <div class="row gx-3 gy-2 align-items-center">
                                            
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Branch Name<span class="start-lable" style="color: red">*</span></label>
                                                <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="Branch">
                                                    <option selected>- Select Branch -</option>
                                                    <option>Vadodara</option>
                                                    <option>US</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Payslip Category<span class="start-lable" style="color: red">*</span></label>
                                                <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="Payslip">
                                                    <option selected>- Select Payslip Category -</option>
                                                    <option>Category A</option>
                                                    <option>Category B</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Employee Name<span class="start-lable" style="color: red">*</span></label>
                                                <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="Employee">
                                                    <option selected>- Select Employee -</option>
                                                    <option>Manan Jadav</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Month<span class="start-lable" style="color: red">*</span></label>
                                                <input type="month" class="form-control" placeholder="" value="2024-11" disabled>

                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Advance<span class="start-lable" style="color: red">*</span></label>
                                                <input type="text" class="form-control" placeholder="eg. ">

                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Incentive<span class="start-lable" style="color: red">*</span></label>
                                                <input type="text" class="form-control" placeholder="eg.">

                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Loan (EMI)<span class="start-lable" style="color: red">*</span></label>
                                                <input type="text" class="form-control" placeholder="eg.">

                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <label class="form-label">Misc. Recovery<span class="start-lable" style="color: red">*</span></label>
                                                <input type="text" class="form-control" placeholder="eg.">

                                            </div>

                                            <div class="col-lg-12">
                                                <a href="#" class="btn btn-primary " style="float:right;"> Submit</a>
                                                <a href="#" class="btn btn-danger " style="float:right;margin-right:10px;"> Cancel</a>
                                            </div>
                                            <!--end col-->
                                        </div>


                                    </div>

                                </div>
                            </div>
                <div class="card" id="CardAccessDenied" style="display:none">
                    <div class="w3-display-middle" style="margin-top:100px;">
                        <h1 class="w3-jumbo w3-animate-top w3-center"><span style="color:#38454a">Access Denied</span></h1>
                        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
                        <h3 class="w3-center w3-animate-right">You don't have Rights to Access this Page</h3>
                        <h3 class="w3-center w3-animate-right">Kindly Contact Administrative</h3>
                        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
                        <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
                    </div>
                </div>

                        </div> <!-- end col -->
                    </div>
                    <!--end row-->

                </div> <!-- container-fluid -->
            </div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- prismjs plugin -->
<script src="~/assets/libs/prismjs/prism.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<!--select2 cdn-->
<script src="~/assets/js/select2.min.js"></script>
<script src="~/assets/js/pages/select2.init.js"></script>
