@* {
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Live_ConsultingKSP.Models.>

@section Stylecss {
    <style>

        /* Overlay Styles */
        .overlay {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            z-index: 9999;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            display: flex; /* Flexbox to center the content */
        }

        /* Center the content inside the overlay */
        .overlay-content {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 5px;
            position: relative; /* Relative to its container */
            max-width: 90%; /* Optional, to ensure content doesn't overflow */
            max-height: 90%; /* Optional, to prevent overflow */
            box-sizing: border-box; /* Ensure padding is included in width/height */
        }
    </style>
}  *@
<div class="page-content">
    <div class="container-fluid">


        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="CardData">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="card-title mb-0">View Employee Salary Parameter</h5>
                            </div>
                            <!--<div class="col-md-1">
                                <i class="bx bxs-pin float-end custom-icon-color"></i>
                            </div>-->
                            <div class="col-md-4">
                                <a><i class="bx bxs-pin float-end custom-icon-color"></i></a>
                                <a id="AnchorAdd" runat="server" href="@Url.Action("AddSalaryParameter", "HRA")"
                                   class="btn btn-dark float-end custom-class btnAdd">
                                    Add Employee
                                    Salary Parameter
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">

                                <label class="form-label">Month<span class="start-lable" style="color: red">*</span></label>
                                <input type="month" class="form-control" placeholder="" value="2024-11" disabled>
                            </div>

                        </div>
                        <div class="table-responsive mt-3">

                            <table id="buttons-datatables" class="display table table-bordered"
                                   style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>UUID</th>

                                        <th>Branch</th>
                                        <th>Employee Name</th>
                                        <th>Parameter</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="@Url.Action("AddSalaryParameter", "HRA")">508ddd19-c3df-4923-b25e-74fd4d653816 </a></td>
                                        <td>Vadodara</td>
                                        <td>Manan Jadav</td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="card" id="CardAccessDenied" style="display:none">
                    <div class="w3-display-middle" style="margin-top:100px;">
                        <h1 class="w3-jumbo w3-animate-top w3-center"><span style="color:#38454a">Access Denied</span></h1>
                        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
                        <h3 class="w3-center w3-animate-right">You don't have Rights to Access this Page</h3>
                        <h3 class="w3-center w3-animate-right">Kindly Contact Administrative</h3>
                        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
                        <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
@*
<div id="overlay" class="overlay">
    <div class="overlay-content">Please Wait...</div>
</div> *@


<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/js/dataTables.responsive.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/jszip.min.js"></script>
<script src="~/assets/js/pdfmake.min.js"></script>
<script src="~/assets/js/vfs_fonts.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {
        $('#buttons-datatables').DataTable({
            // dom: 'Bfrtip',
            // responsive: true,
            // buttons: [
            //     'copy', 'csv', 'excel', 'pdf', 'print'
            // ]
        });
    });
</script>