@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Order Print</title>
    <style>
        font-face {
            font-family: SohoGothicProBold;
            src: url("Print/Font/SohoGothicPro-Bold.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProBoldItalic;
            src: url("Print/Font/SohoGothicPro-BoldItalic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProExtraBold;
            src: url("Print/Font/SohoGothicPro-ExtraBold.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProExtraBoldIt;
            src: url("Print/Font/SohoGothicPro-ExtraBoldIt.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProItalic;
            src: url("Print/Font/SohoGothicPro-Italic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProLight;
            src: url("Print/Font/SohoGothicPro-Light.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProLightItalic;
            src: url("Print/Font/SohoGothicPro-LightItalic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProMedium;
            src: url("Print/Font/SohoGothicPro-Medium.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProMediumIt;
            src: url("Print/Font/SohoGothicPro-MediumIt.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProRegular;
            src: url("Print/Font/SohoGothicPro-Regular.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProThin;
            src: url("Print/Font/SohoGothicPro-Thin.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProThinItalic;
            src: url("Print/Font/SohoGothicPro-ThinItalic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProUltra;
            src: url("Print/Font/SohoGothicPro-Ultra.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProUltraItalic;
            src: url("Print/Font/SohoGothicPro-UltraItalic.otf") format("opentype");
        }

        .FontSGPBH1Title {
            font-family: 'Rubik', sans-serif;
            font-size: 12.5px;
            color: #000000;
        }

        .FontSGPBH1Data {
            font-family: 'Rubik', sans-serif;
            font-size: 12.5px;
            color: #000000;
        }

        .FontSGPBHeadTitle {
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            color: #000000;
        }

        p, td {
            margin: 0;
            padding: 0;
        }

        .tblPay {
            text-align: left;
            padding-left: 5px;
        }

        .custome-bg {
            background-color: #e6e7e9 !important;
        }

     
    </style>

</head>
<body style="height: 622.519685px; width: 793.7007874px;">
    <div id="MultiPageSO">


        <table style="width: 718.11023622px; margin-left: 1cm;border:1px solid #000" cellpadding="0" cellspacing="0">
            <tr style="height: 10.236220472px;text-align: center;width:80px;background-color:#fff;">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 10px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;border-right:none;border-top:none;border-bottom:none;" colspan="2">
                    <img src="~/assets/images/new-logo/ksp-logo.png" style="width:auto;height:80px" />
                </td>
                <td class="FontSGPBH1Data" colspan="6" style="border:none;">
                    <h3 class="FontSGPBHeadTitle" style="text-align:right;font-size:18px;color:#000;font-weight:600;padding-right:10px;">DELIVERY NOTE</h3>
                </td>
            </tr>
        </table>
        <table style="width: 718.11023622px; margin-left: 1cm;border: 1px solid #000000; border-top:none;" cellpadding="0" cellspacing="0">
            <tr style="height: 40.236220472px">

                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;" colspan="2" rowspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">KSP Consultancy</h5>
                    <p>
                        Plot No. 113 & 114,<br />
                        Industrial Estate<br />
                        India<br />
                        Email: Kalpesh.Patel@kspconsults.com
                    </p>
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Delivery Note No.</h5>
                    <p>51</p>
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Dated</h5>
                    <p>10-Nov-2022</p>
                </td>
            </tr>
            <tr style="height: 50.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Relative Invoice No.</h5>
                    <p>123</p>
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Mode/Terms of Payment</h5>
                    <p>90 Days</p>
                </td>
            </tr>
            <tr style="height: 50.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;padding-top:5px;" colspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Supplier's Ref.</h5>
                    <p>11452</p>

                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Other Reference</h5>
                    <p>11452</p>
                </td>
            </tr>
            <tr style="height: 40.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;" colspan="4" rowspan="3">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Buyer</h5>
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">KSP Consultancy</h5>
                    <p>
                        Plot No. 113 & 114,<br />
                        Industrial Estate<br />
                        India<br />
                        Email: Kalpesh.Patel@kspconsults.com
                    </p>
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="2">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Buyer's Order No.</h5>
                    <p>G002</p>
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="2">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Dated</h5>
                    <p>01-Nov-2022</p>
                </td>
            </tr>
            <tr style="height: 50.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="2">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Dispatch Document No.</h5>
                    <p>Pandit Travels</p>

                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;" colspan="2">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Destination</h5>
                    <p>Mysore</p>
                </td>
            </tr>
            <tr style="height: 50.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;padding-top:5px;" colspan="4">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Terms of Delivery</h5>
                    <p>COD if delivered on site</p>
                </td>
            </tr>

        </table>
        <table style="width: 718.11023622px; margin-left: 1cm;border:1px solid #000" cellpadding="0" cellspacing="0">
            <tr style="height: 20.236220472px; background-color: #e34e25;color:#fff" ">
                <th class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border:1px solid #000;border-left:none;border-bottom:none;border-top:none;color:#fff">
                    Description of Goods
                </th>
                <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border:1px solid #000;border-left:none;border-bottom:none;border-top:none;color:#fff">
                    Quantity
                </th>
                <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border:1px solid #000;border-left:none;border-bottom:none;border-top:none;color:#fff">
                    Rate
                </th>
                <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border:1px solid #000;border-left:none;border-bottom:none;border-top:none;color:#fff">
                    Per
                </th>
                <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border:1px solid #000;border-left:none;border-bottom:none;border-top:none;color:#fff">
                    Discount
                </th>
                <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border:1px solid #000;border-left:none;border-bottom:none;border-top:none;color:#fff">
                    Amount
                </th>
            </tr>
            <tr style="height: 20.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;width:200px;">
                    Assembled PIV
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    15 Nos
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    22,000.00
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    Nos
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    3,30,000.00
                </td>
            </tr>
            <tr style="height: 20.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    Transportation & Packing
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    2,500.00
                </td>
            </tr>
            <tr style="height: 20.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    GST Tax  4%
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    4%
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    13,200.00
                </td>
            </tr>
            <tr style="height: 20.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    Total
                </td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    15 Nos
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;"></td>
                <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;">
                    3,40,700.00
                </td>
            </tr>
            <tr style="height: 50.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;padding-top:5px;" colspan="4">
                    Amount Chagreable (In Words)
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Rs. Three Lakh Fourty Thousand Seven Hundred Only</h5>
                </td>
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;padding-top: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top" colspan="2">
                    E.&O.E.
                </td>
            </tr>
            <tr style="height: 50.236220472px">
                <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:top;padding-top:5px;padding-bottom:5px;" colspan="6">
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Company's VAT TIN :725695562431</h5>
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Company's GST NO. :XXXXXXXXXXXX</h5>
                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Buyer's VAT TIN :XXXXXXXXXXXX</h5>
                </td>
            </tr>
            <tr style="height: 70.236220472px">
                <td class="FontSGPBH1Data" style="text-align: right;border: 1px solid #000000;border-left:none;border-bottom:none;vertical-align:bottom;padding-bottom:5px;padding-right:5px;" colspan="6">
                    <img src="~/assets/images/signature.png" style="width:auto;height:80px;" />

                    <h5 style="font-size:13px;margin-top:0px;padding-top:5px;margin-bottom:0px;">Authorized Signatory</h5>

                </td>
            </tr>
        </table>
        <div class="modal-footer no-print">
            <button type="button" class="btn btn-light custome-bg" data-bs-dismiss="modal" style="margin-left:80%; margin-top:1%;   background-color: #e6e7e9; margin-bottom:5%;  ">Close</button>
            <button type="button" class="btn btn-primary custome-bg ">Download</button>
        </div>
    </div>
</body>
</html>
