@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Order Print</title>
    <style>
        font-face {
            font-family: SohoGothicProBold;
            src: url("Print/Font/SohoGothicPro-Bold.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProBoldItalic;
            src: url("Print/Font/SohoGothicPro-BoldItalic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProExtraBold;
            src: url("Print/Font/SohoGothicPro-ExtraBold.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProExtraBoldIt;
            src: url("Print/Font/SohoGothicPro-ExtraBoldIt.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProItalic;
            src: url("Print/Font/SohoGothicPro-Italic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProLight;
            src: url("Print/Font/SohoGothicPro-Light.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProLightItalic;
            src: url("Print/Font/SohoGothicPro-LightItalic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProMedium;
            src: url("Print/Font/SohoGothicPro-Medium.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProMediumIt;
            src: url("Print/Font/SohoGothicPro-MediumIt.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProRegular;
            src: url("Print/Font/SohoGothicPro-Regular.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProThin;
            src: url("Print/Font/SohoGothicPro-Thin.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProThinItalic;
            src: url("Print/Font/SohoGothicPro-ThinItalic.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProUltra;
            src: url("Print/Font/SohoGothicPro-Ultra.otf") format("opentype");
        }

        font-face {
            font-family: SohoGothicProUltraItalic;
            src: url("Print/Font/SohoGothicPro-UltraItalic.otf") format("opentype");
        }

        .FontSGPBH1Title {
            font-family: 'Rubik', sans-serif;
            font-size: 12.5px;
            color: #000000;
        }

        .FontSGPBH1Data {
            font-family: 'Rubik', sans-serif;
            font-size: 12.5px;
            color: #000000;
        }

        .FontSGPBHeadTitle {
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            color: #000000;
        }

        p, td {
            margin: 0;
            padding: 0;
        }

        .tblPay {
            text-align: left;
            padding-left: 5px;
        }

        .custome-bg {
            background-color: #e6e7e9 !important;
        }


     
    </style>

</head>
<body style="height: 622.519685px; width: 793.7007874px;">
    <div id="MultiPageSO">

        <table style="min-height: 622.519685px; width: 793.7007874px; /*border: 1px solid black; */">

            <tr>
                <td style="height: 50.913385827px; vertical-align: baseline;">
                    <table style="width: 718.11023622px; margin-left: 1cm; border: 1px solid #000" cellpadding="0" cellspacing="0">
                        <tr style="height: 10.236220472px; text-align: center; width: 80px; background-color: #fff;">
                            <td class="FontSGPBH1Data" colspan="2" style="text-align: left; padding-left: 10px;">
                                <img src="~/assets/images/new-logo/ksp-logo.png" style="width: auto; height: 80px;" />
                            </td>
                            <td class="FontSGPBH1Data" colspan="5" style="text-align: right; padding-right: 10px;">
                                <h3 class="FontSGPBHeadTitle" style="font-size: 18px; color: #000; font-weight: 600;">Material Transfer Voucher</h3>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 718.11023622px; margin-left: 1cm; border: 1px solid #000000; border-top: none;" cellpadding="0" cellspacing="0">
                        <tr style="height: 20.236220472px; background-color: #e34e25; color: #fff">
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                Sr No.
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                Description
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                Unit
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                Qty
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                O.R. No.
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                L.P.O No.
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                Unit Price
                            </th>
                            <th class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000; border-left: none; border-bottom: none; width: 200px; border-top: none; color: #fff;">
                                Remarks
                            </th>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                3
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                4
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                5
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                6
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                7
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                8
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                9
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                Assembled PIV
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                1
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                15 Nos
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                123
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                2312
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                10,000.00
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                None
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;">
                                DHS:
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                            <td class="FontSGPBH1Data" style="text-align: center; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;"></td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;" colspan="4">
                                <strong>Tranferred By : KSP Consultancy</strong>
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;" colspan="4">
                                <strong>Tranferred To : Moonbyte</strong>
                            </td>
                        </tr>
                        <tr style="height: 20.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;" colspan="4">
                                <strong>Name and Code : 2332</strong>
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;" colspan="4">
                                <strong>Name and Code : 4332</strong>
                            </td>
                        </tr>
                        <tr style="height: 40.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;" colspan="4">
                                <strong>Signature</strong><img src="~/assets/images/signature.png" style="width: auto; height: 80px;" />
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: 1px solid #000000; border-left: none; border-bottom: none;" colspan="4">
                                <strong>Signature</strong><img src="~/assets/images/mb-signature.png" style="width: auto; height: 80px;" />
                            </td>
                        </tr>
                        <tr style="height: 40.236220472px">
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: none; border-top: 1px solid #000;" colspan="2">
                                White Copy: Reciever
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: none; border-top: 1px solid #000;" colspan="2">
                                Yellow Copy: Accounts
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: none; border-top: 1px solid #000;" colspan="2">
                                Green Copy: Stores
                            </td>
                            <td class="FontSGPBH1Data" style="text-align: left; padding-left: 5px; border: none; border-top: 1px solid #000;" colspan="2">
                                Pink Copy: Books
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="modal-footer no-print">
            <button type="button" class="btn btn-light custome-bg" data-bs-dismiss="modal" style="margin-left:80%; margin-top:2%;   background-color: #e6e7e9 ">Close</button>
            <button type="button" class="btn btn-primary custome-bg ">Download</button>
        </div>
    </div>
</body>
</html>
