@* @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Live_ConsultingKSP.Models.>
@section Stylecss {
    <style>

        /* Overlay Styles */
        .overlay {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            z-index: 9999;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
            display: flex; /* Flexbox to center the content */
        }

        /* Center the content inside the overlay */
        .overlay-content {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 5px;
            position: relative; /* Relative to its container */
            max-width: 90%; /* Optional, to ensure content doesn't overflow */
            max-height: 90%; /* Optional, to prevent overflow */
            box-sizing: border-box; /* Ensure padding is included in width/height */
        }
    </style>
} *@
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Library Search</h4>
                        <a><i class="bx bxs-pin float-end custom-icon-color"></i></a>
                    </div>

                </div>
            </div>
            <!-- end page title -->


            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="CardData">

                        <div class="card-body">
                            <div class="live-preview">

                                <div class="row gx-3 gy-2 align-items-center">
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Year<span class="start-lable" style="color: red">*</span></label>
                                        <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="year">
                                            <option selected>- Select Year -</option>
                                            <option value="1">2024</option>
                                            <option value="2">2025</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Library Category <span class="start-lable" style="color: red">*</span></label>
                                        <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="gllcattype">
                                            <option selected>- Select Library Category -</option>
                                            <option value="2">IT</option>
                                            <option value="1">Account</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Library Category Tag<span class="start-lable" style="color: red">*</span></label>
                                        <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="lcatatg">
                                            <option selected>- Select Library Category Tag -</option>
                                            <option value="2">Invoice</option>
                                            <option value="1">Insurance</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Document Category<span class="start-lable" style="color: red">*</span></label>
                                        <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="dcat">
                                            <option selected>- Select Document Category -</option>
                                            <option value="2">PDF</option>
                                            <option value="1">Word</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Document Category Tag<span class="start-lable" style="color: red">*</span></label>
                                        <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="dcatag">
                                            <option selected>- Select Document Category Tag -</option>
                                            <option value="2">Hr</option>

                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Document Title <span class="start-lable" style="color: red">*</span></label>
                                        <input type="text" class="form-control" placeholder="eg. ">
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Renewable<span class="start-lable" style="color: red">*</span></label>
                                        <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="renew">
                                            <option selected> Is Renewable </option>
                                            <option value="2">Not Renewable</option>

                                        </select>
                                    </div>


                                    <div class="col-lg-3 mt-5">
                                        <a href="#" class="btn btn-primary " style="float:right;"> Search</a>
                                    </div>
                                    <!--end col-->
                                </div>


                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="buttons-datatables" class="display table table-bordered"
                                       style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Year</th>
                                            <th>Library Category</th>
                                            <th>Library Category Tag</th>
                                            <th>Document Category</th>
                                            <th>Document Category Tag</th>
                                            <th>Document Title</th>
                                            <th>Renewable Type</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                2024
                                            </td>
                                            <td> Accounts</td>
                                            <td>Certificate</td>
                                            <td>PDF</td>
                                            <td>Other</td>
                                            <td>GST Certificate</td>


                                            <td><span class="badge bg-danger">False</span></td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>


                    </div>
                    <div class="card" id="CardAccessDenied" style="display:none">
                        <div class="w3-display-middle" style="margin-top:100px;">
                            <h1 class="w3-jumbo w3-animate-top w3-center"><span style="color:#38454a">Access Denied</span></h1>
                            <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
                            <h3 class="w3-center w3-animate-right">You don't have Rights to Access this Page</h3>
                            <h3 class="w3-center w3-animate-right">Kindly Contact Administrative</h3>
                            <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
                            <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!--end row-->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


</div>
@* <div id="overlay" class="overlay">
    <div class="overlay-content">Please Wait...</div>
</div>
 *@
<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- prismjs plugin -->
<script src="~/assets/libs/prismjs/prism.js"></script>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>

<script src="~/assets/js/app.js"></script>

<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/js/dataTables.responsive.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>

<!--select2 cdn-->
<script src="~/assets/js/select2.min.js"></script>
             
<script src="~/assets/js/pages/select2.init.js"></script>

<script>
    $(document).ready(function () {
        $('#buttons-datatables').DataTable({

        });
    });
</script>