<div id="layout-wrapper">

    <div w3-include-html="/Views/Shared/header.cshtml"> </div>


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="profile-foreground position-relative mx-n4 mt-n4">
                    <div class="profile-wid-bg">
                        <img src="assets/images/profile-bg.jpg" alt="" class="profile-wid-img" />
                    </div>
                </div>
                <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
                    <div class="row g-4">
                        <div class="col-auto">
                            <div class="avatar-lg">
                                <img src="assets/images/avtarnew.png" alt="user-img" class="img-thumbnail rounded-circle" />
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col">
                            <div class="p-2">
                                <h3 class="text-white mb-1">Kalpesh Patel</h3>
                                <p class="text-white text-opacity-75">Owner & Founder</p>
                                <div class="hstack text-white-50 gap-1">
                                    <div class="me-2"><i class="ri-map-pin-user-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>USA: Monroe Township, NJ</div>

                                </div>
                            </div>
                        </div>
                        <!--end col-->

                    </div>
                    <!--end row-->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="d-flex profile-wrapper">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link fs-14 active" data-bs-toggle="tab" href="#overview-tab" role="tab">
                                            <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Overview</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fs-14" data-bs-toggle="tab" href="#activities" role="tab">
                                            <i class="ri-list-unordered d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Update Or Reset Password</span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="flex-shrink-0">
                                    <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalgrid"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content pt-4 text-muted">
                                <div class="tab-pane active" id="overview-tab" role="tabpanel">
                                    <div class="row">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">


                                            <div class="card" id="CardData">
                                                <div class="card-body">
                                                    <h5 class="card-title mb-3">Basic Info</h5>
                                                    <div class="table-responsive">
                                                        <table class="table mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Employee Code :</th>
                                                                    <td class="text-muted">KSP2024001</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Full Name :</th>
                                                                    <td class="text-muted">Kalpesh Patel</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Mobile :</th>
                                                                    <td class="text-muted">+(91) 987 65435858</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">E-mail :</th>
                                                                    <td class="text-muted">info@kspconsults.com</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Address :</th>
                                                                    <td class="text-muted">
                                                                        USA: Monroe Township, NJ
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Date of Birth :</th>
                                                                    <td class="text-muted">
                                                                        27-08-1994
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Gender :</th>
                                                                    <td class="text-muted">
                                                                        Male
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Blood Group :</th>
                                                                    <td class="text-muted">
                                                                        O+
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Nationality :</th>
                                                                    <td class="text-muted">
                                                                        Indian
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Joining Date :</th>
                                                                    <td class="text-muted">24 Nov 2021</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                            <!--end card-->
                                        </div>
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">


                                            <div class="card" id="CardData">
                                                <div class="card-body">
                                                    <h5 class="card-title mb-3">ID Proof</h5>
                                                    <div class="table-responsive">
                                                        <table class="table mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Passport No. :</th>
                                                                    <td class="text-muted">TR12345677</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Aadhar Card No. :</th>
                                                                    <td class="text-muted">8569 7412 3698</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">PAN No. :</th>
                                                                    <td class="text-muted">RGE7856H8</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Driving Licence No. :</th>
                                                                    <td class="text-muted">
                                                                        DL-R4T5Y8
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                            <div class="card" id="CardData">
                                                <div class="card-body">
                                                    <h5 class="card-title mb-3">Bank Info</h5>
                                                    <div class="table-responsive">
                                                        <table class="table mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Bank Name :</th>
                                                                    <td class="text-muted">IDFC</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Account No. :</th>
                                                                    <td class="text-muted">012345678901234</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">IFSC Code :</th>
                                                                    <td class="text-muted">IDFC7856</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="ps-0" scope="row">Account Type :</th>
                                                                    <td class="text-muted">
                                                                        Salary
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div>
                                            <!--end card-->
                                        </div>
                                        <!--end col-->

                                    </div>
                                    <!--end row-->
                                </div>
                                <div class="tab-pane fade" id="activities" role="tabpanel">

                                    <div class="card" id="CardData">
                                        <div class="card-body">
                                            <div class="live-preview">

                                                <div class="row gx-3 gy-2 align-items-center">
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-label">Enter Old Password<span class="start-lable" style="color: red">*</span></label>
                                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                                            <input type="password" class="form-control pe-5 password-input" placeholder="Enter password" id="oldpassword-input">
                                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="oldpassword-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-label">Enter New Password<span class="start-lable" style="color: red">*</span></label>
                                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                                            <input type="password" class="form-control pe-5 password-input" placeholder="Enter password" id="newpassword-input">
                                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="newpassword-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-label">Confirm Password<span class="start-lable" style="color: red">*</span></label>
                                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                                            <input type="password" class="form-control pe-5 password-input" placeholder="Enter password" id="confirmpassword-input">
                                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="confirmpassword-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                        </div>
                                                    </div>



                                                    <div class="col-lg-3 mt-5">
                                                        <a href="#" class="btn btn-primary " style="float:right;"> Update</a>
                                                    </div>
                                                    <!--end col-->
                                                </div>


                                            </div>
                                        </div>
                                        <!--end card-->
                                    </div>
                                </div>
                                <!--end tab-pane-->
                                <!--end tab-pane-->
                            </div>
                            <!--end tab-content-->
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

            </div><!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <div w3-include-html="include/footer.html"> </div>
    </div>
    <!-- end main content-->

</div>
<!-- Grids in modals -->

<div class="modal fade fadeInRight" id="exampleModalgrid" tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalgridLabel">Basic Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr />
            <div class="modal-body">
                <form action="javascript:void(0);">
                    <div class="row g-3">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="firstName" class="form-label">Employee code</label>
                                <input type="text" class="form-control" value="KSP2024001" placeholder="" disabled>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="lastName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="lastName" value="Kalpesh Patel">
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="lastName" class="form-label">Mobile No.</label>
                                <input type="text" class="form-control" id="lastName" value="+(91) 987 65435858">
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="lastName" class="form-label">Email Id</label>
                                <input type="text" class="form-control" id="lastName" value="info@kspconsults.com">
                            </div>
                        </div>
                        <div class="col-xxl-8 col-xl-8 col-lg-8 col-sm-12 col-md-12">
                            <div>
                                <label for="lastName" class="form-label">Address</label>
                                <textarea type="text" class="form-control" id="lastName" value="USA: Monroe Township, NJ"></textarea>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <label for="genderInput" class="form-label">Gender</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Others</label>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="emailInput" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="emailInput" placeholder="Enter your email">
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="passwordInput" class="form-label">Nationality</label>
                                <input type="text" class="form-control" id="" value="Indian">
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="passwordInput" class="form-label">Blood Group</label>
                                <input type="text" class="form-control" id="" value="O+">
                            </div>
                        </div>

                    </div><!--end row-->
                </form>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalgridLabel">ID Proof Information</h5>

            </div>
            <hr />
            <div class="modal-body">
                <form action="javascript:void(0);">
                    <div class="row g-3">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="firstName" class="form-label">Passport No.</label>
                                <input type="text" class="form-control" value="TR12345677" placeholder="">
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="" class="form-label">Aadhar Card No. </label>
                                <input type="text" class="form-control" id="" value="8569 7412 3698">
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="" class="form-label">PAN No. </label>
                                <input type="text" class="form-control" id="" value="RGE7856H8">
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="" class="form-label">Driving Licence No.</label>
                                <input type="text" class="form-control" id="" value="DL-R4T5Y8">
                            </div>
                        </div>


                    </div><!--end row-->
                </form>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalgridLabel">Bank Information</h5>
            </div>
            <hr />
            <div class="modal-body">
                <form action="javascript:void(0);">
                    <div class="row g-3">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="firstName" class="form-label">
                                    Bank Name
                                </label>
                                <input type="text" class="form-control" value="IDFC" placeholder="" disabled>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="lastName" class="form-label">Account No.</label>
                                <input type="text" class="form-control" id="lastName" value="012345678901234" disabled>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="lastName" class="form-label">IFSC Code</label>
                                <input type="text" class="form-control" id="lastName" value="IDFC7856" disabled>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                            <div>
                                <label for="lastName" class="form-label">Account Type</label>
                                <input type="text" class="form-control" id="lastName" value="Salary" disabled>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END layout-wrapper -->
<!--start back-to-top-->
<!--end back-to-top-->
<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- particles js -->
<script src="~/assets/libs/particles.js/particles.js"></script>
<!-- particles app js -->
<script src="~/assets/js/pages/particles.app.js"></script>
<!-- password-addon init -->
<script src="~/assets/js/pages/password-addon.init.js"></script>