<div id="layout-wrapper">
    <div w3-include-html="/Views/Shared/header.html"> </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Lead Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="d-flex flex-column h-100">
                            <div class="row">

                                <div class="col-xl-3">
                                    <div class="card card-animate">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                                        <i class="bx bx-wallet text-dark"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <p class="text-uppercase fw-medium text-muted mb-3">TOTAL CONTACTS</p>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <h4 class="fs-4 flex-grow-1 mb-0"><span class="counter-value" data-target="1">10</span></h4>
                                                    </div>
                                                    <p class="text-muted mb-0">Tasks this month</p>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="card card-animate">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                                        <i class="bx bx-wallet text-dark"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <p class="text-uppercase fw-medium text-muted mb-3">TOTAL LEADS</p>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <h4 class="fs-4 flex-grow-1 mb-0"><span class="counter-value" data-target="1">10</span></h4>
                                                    </div>
                                                    <p class="text-muted mb-0">Tasks this month</p>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="card card-animate">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                                        <i class="bx bx-wallet text-dark"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <p class="text-uppercase fw-medium text-muted mb-3">
                                                        TOTAL OPPORTUNITIES
                                                    </p>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <h4 class="fs-4 flex-grow-1 mb-0"><span class="counter-value" data-target="1">20</span></h4>
                                                    </div>
                                                    <p class="text-muted mb-0">Tasks this month</p>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="card card-animate">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                                        <i class="bx bx-wallet text-dark"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <p class="text-uppercase fw-medium text-muted mb-3">
                                                        TOTAL ORDERS
                                                    </p>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <h4 class="fs-4 flex-grow-1 mb-0"><span class="counter-value" data-target="1">50</span></h4>
                                                    </div>
                                                    <p class="text-muted mb-0">Tasks this month</p>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div>
                                </div>
                            </div><!--end row-->
                        </div>
                    </div><!--end col-->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card" id="CardData">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">
                                    Upcoming Leads Follow up List
                                </h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown">
                                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted fs-18"><i class="mdi mdi-dots-vertical"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body pt-0">
                                <ul class="list-group list-group-flush border-dashed">
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="text-reset fs-14 mb-0">Project 1</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 10-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">20</h5>
                                                        <div class="text-muted">Wed</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="text-reset fs-14 mb-0">Project 2</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 10-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">17</h5>
                                                        <div class="text-muted">Wed</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="text-reset fs-14 mb-0">Project 3</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 10-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                </ul><!-- end -->
                                <div class="align-items-center mt-2 row g-3 text-center text-sm-start">
                                    <div class="col-sm">
                                        <div class="text-muted">
                                            Showing<span class="fw-semibold">4</span> of <span class="fw-semibold">125</span> Results
                                        </div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
                                            <li class="page-item disabled">
                                                <a href="#" class="page-link">←</a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">→</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div>
                    <div class="col-lg-6">
                        <div class="card" id="CardData">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">
                                    Upcoming Proposal Sharing List
                                </h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown">
                                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted fs-18"><i class="mdi mdi-dots-vertical"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body pt-0">
                                <ul class="list-group list-group-flush border-dashed">
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <!--<h5 class="text-muted mt-0 mb-1 fs-12 fw-semibold">12:00am - 03:30pm</h5>-->
                                                <a href="#" class="text-reset fs-14 mb-0">Project 1</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 10-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">20</h5>
                                                        <div class="text-muted">Wed</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <!--<h5 class="text-muted mt-0 mb-1 fs-12 fw-semibold">02:00pm - 03:45pm</h5>-->
                                                <a href="#" class="text-reset fs-14 mb-0">Project 2</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 10-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">17</h5>
                                                        <div class="text-muted">Wed</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <!--<h5 class="text-muted mt-0 mb-1 fs-12 fw-semibold">04:30pm - 07:15pm</h5>-->
                                                <a href="#" class="text-reset fs-14 mb-0">Project 3</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 10-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                </ul><!-- end -->
                                <div class="align-items-center mt-2 row g-3 text-center text-sm-start">
                                    <div class="col-sm">
                                        <div class="text-muted">
                                            Showing<span class="fw-semibold">4</span> of <span class="fw-semibold">125</span> Results
                                        </div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
                                            <li class="page-item disabled">
                                                <a href="#" class="page-link">←</a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">→</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div>
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <div w3-include-html="include/footer.html"> </div>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->
<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- Dashboard init -->
<script src="~/assets/js/pages/dashboard-job.init.js"></script>
<!-- projects js -->
<script src="~/assets/js/pages/dashboard-projects.init.js"></script>
<!-- Dashboard init -->
<script src="~/assets/js/pages/dashboard-crm.init.js"></script>
<!-- Chart JS -->
<script src="~?assets/libs/chart.js/chart.umd.js"></script>
<!-- chartjs init -->
<script src="~/assets/js/pages/chartjs.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>