<div id="layout-wrapper">
    <div w3-include-html="/Views/Shared/header.html"> </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Expense Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Sole Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="28.05">1,642</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Running Sole Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="97.66">3,642</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Approved Sole Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="28.05">1,041</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate"> since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Pending Sole Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="97.66">2,150</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Rejected Sole Expenses</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="28.05">1,642</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Trip Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="97.66">3,642</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Running Trip Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="28.05">1,041</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate"> since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Approved Trip Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="97.66">2,150</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Pending Trip Expense</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="28.05">1,041</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate"> since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-3">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Rejected TripExpenses</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value" data-target="97.66">2,150</span>k</h2>
                                        <p class="mb-0 text-muted text-truncate">since last month</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card" id="CardData">
                            <div class="card-header border-0 align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Projects Overview</h4>
                                <div>
                                    <button type="button" class="btn btn-soft-secondary btn-sm material-shadow-none">
                                        ALL
                                    </button>
                                    <button type="button" class="btn btn-soft-secondary btn-sm material-shadow-none">
                                        1M
                                    </button>
                                    <button type="button" class="btn btn-soft-secondary btn-sm material-shadow-none">
                                        6M
                                    </button>
                                    <button type="button" class="btn btn-soft-primary btn-sm material-shadow-none">
                                        1Y
                                    </button>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-header p-0 border-0 bg-light-subtle">
                                <div class="row g-0 text-center">
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span class="counter-value" data-target="9851">203K</span></h5>
                                            <p class="text-muted mb-0">Total Expense</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span class="counter-value" data-target="1026">100K</span></h5>
                                            <p class="text-muted mb-0">Sole Expense</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1">$<span class="counter-value" data-target="1026">103K</span></h5>
                                            <p class="text-muted mb-0">Trip Expense</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body p-0 pb-2">
                                <div>
                                    <div id="projects-overview-chart" data-colors='["#e34e25", "#2f2f2f", "#26c877"]' dir="ltr" class="apex-charts"></div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <div w3-include-html="/Views/Shared/header.html"> </div>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->
<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- Dashboard init -->
<script src="~/assets/js/pages/dashboard-job.init.js"></script>
<!-- projects js -->
<script src="~/assets/js/pages/dashboard-projects.init.js"></script>
<!-- Dashboard init -->
<script src="~/assets/js/pages/dashboard-crm.init.js"></script>
<!-- Chart JS -->
<script src="~?assets/libs/chart.js/chart.umd.js"></script>
<!-- chartjs init -->
<script src="~/assets/js/pages/chartjs.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>