<div id="layout-wrapper">
    <div w3-include-html="/Views/Shared/header.html"> </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">HR Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Total Employee</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value">100</span></h2>

                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-4">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Present Employee</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value">90</span></h2>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                    <div class="col-md-4">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="fw-medium text-muted mb-0">Absent Employee</p>
                                        <h2 class="mt-4 ff-secondary cfs-22 fw-semibold"><span class="counter-value">10</span></h2>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card" id="CardData">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">
                                    Upcoming Activities
                                </h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown">
                                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted fs-18"><i class="mdi mdi-dots-vertical"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body pt-0">
                                <ul class="list-group list-group-flush border-dashed">
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5 style="font-size:12px;">12:00pm - 03:30pm</h5>
                                                <a href="#" class="text-reset fs-14 mb-0">Activity One</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 25-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5 style="font-size:12px;">12:00pm - 03:30pm</h5>
                                                <a href="#" class="text-reset fs-14 mb-0">Activity One</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 25-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5 style="font-size:12px;">12:00pm - 03:30pm</h5>
                                                <a href="#" class="text-reset fs-14 mb-0">Activity One</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 25-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul><!-- end -->
                                <div class="align-items-center mt-2 row g-3 text-center text-sm-start">
                                    <div class="col-sm">
                                        <div class="text-muted">
                                            Showing<span class="fw-semibold">4</span> of <span class="fw-semibold">125</span> Results
                                        </div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
                                            <li class="page-item disabled">
                                                <a href="#" class="page-link">←</a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">→</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div>
                    <div class="col-lg-6">
                        <div class="card" id="CardData">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">
                                    Upcoming Birthday
                                </h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown">
                                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-muted fs-18"><i class="mdi mdi-dots-vertical"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body pt-0">
                                <ul class="list-group list-group-flush border-dashed">
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="text-reset fs-14 mb-0">Emplyee One</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 25-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li><!-- end -->
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="text-reset fs-14 mb-0">Emplyee Two</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 25-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="row align-items-center g-3">
                                            <div class="col-auto">
                                                <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                                    <div class="text-center">
                                                        <h5 class="mb-0">25</h5>
                                                        <div class="text-muted">Tue</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="text-reset fs-14 mb-0">Emplyee Three</a>
                                            </div>
                                            <div class="col-auto">
                                                <div class="badge badge-label bg-dark"><i class="mdi mdi-circle-medium"></i> 25-12-2023</div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul><!-- end -->
                                <div class="align-items-center mt-2 row g-3 text-center text-sm-start">
                                    <div class="col-sm">
                                        <div class="text-muted">
                                            Showing<span class="fw-semibold">4</span> of <span class="fw-semibold">125</span> Results
                                        </div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
                                            <li class="page-item disabled">
                                                <a href="#" class="page-link">←</a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">→</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <div w3-include-html="/Views/Shared/footer.html"> </div>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->
<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- Dashboard init -->
<script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>
<script src="~/assets/js/pages/dashboard-analytics.init.js"></script>
<!-- Dashboard init -->
<script src="~/assets/js/pages/dashboard-job.init.js"></script>
<!-- projects js -->
<script src="~/assets/js/pages/dashboard-projects.init.js"></script>
<!-- Dashboard init -->
<script src="~/assets/js/pages/dashboard-crm.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>