<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-3">

                <span style="font-weight:700" id="demo">IP Address : </span>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
            </div>

            <div class="col-sm-3">
                <div class="text-sm-end d-none d-sm-block">
                    <span style="font-weight:700">Last Login :</span> 12:36 am
                </div>
            </div>
        </div>
    </div>
</footer>




