
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Cost Cities Detail</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="frmCreate">

                            <div class="card-body">
                                <div class="live-preview">

                                    <div class="row gx-3 gy-2 align-items-center">
                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <label class="form-label">Cost City Category Name<span class="start-lable" style="color: red">*</span></label>
                                            <input type="text" class="form-control" placeholder="eg. A Class">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="" checked>
                                                <label class="form-check-label" for="">
                                                    Is Display
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-box" style="border:1px solid #000;padding:15px;margin-top:15px;margin-bottom:15px;">
                                        <div class="row gx-3 gy-2 align-items-center">
                                            <div class="col-lg-12">
                                                <h4 style="background-color:gray;color:#fff;padding:5px;">Select Cities</h4>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="">
                                                    <label class="form-check-label" for="">
                                                        Chandigarh
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="">
                                                    <label class="form-check-label" for="">
                                                        Kutch
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="">
                                                    <label class="form-check-label" for="">
                                                        Amravati
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row gx-3 gy-2 align-items-center">

                                        <div class="col-lg-12">
                                            <a href="#" class="btn btn-primary " style="float:right;"> Submit</a>
                                            <a href="#" class="btn btn-danger " style="float:right;margin-right:10px;"> Cancel</a>
                                        </div>
                                        <!--end col-->
                                    </div>


                                </div>

                            </div>
                        </div>
                <div class="card" id="CardAccessDenied" style="display:none">
                    <div class="w3-display-middle" style="margin-top:100px;">
                        <h1 class="w3-jumbo w3-animate-top w3-center"><span style="color:#38454a">Access Denied</span></h1>
                        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
                        <h3 class="w3-center w3-animate-right">You don't have Rights to Access this Page</h3>
                        <h3 class="w3-center w3-animate-right">Kindly Contact Administrative</h3>
                        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
                        <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
                    </div>
                </div>
                    </div> <!-- end col -->
                </div>
                <!--end row-->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



<!-- prismjs plugin -->
<script src="~/assets/libs/prismjs/prism.js"></script>
<script src="~/assets/js/app.js"></script>
@* <script>
    document.getElementById('hassubexpensetype').addEventListener('change', function () {
        const multipleDiv = document.getElementById('unittype');
        if (this.checked) {
            multipleDiv.style.display = 'none'; // Hide the div
        } else {
            multipleDiv.style.display = 'block'; // Show the div
        }
    });

</script> *@