@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trip Expense Slip</title>
    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/assets/SlipAssets/css/vendors_css.css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style-->

    <link rel="stylesheet" href="~/assets/SlipAssets/css/style.css">
    <style>
        .travel-expenses-reimbursement-section .table-bordered > tbody > tr > td,
        .table-bordered > tbody > tr > th {
            padding: .5rem;
        }

        .travel-expenses-reimbursement-section .table > thead > tr > td,
        .table > thead > tr > th {
            padding: .5rem;
        }

        .endtext {
            text-align: end;
        }

       
    </style>
    <style>
        .printinelg {
            background-color: rgb(119,136,153);
            color: white;
        }

      
    </style>
</head>
<body>
    <div class="">
        <div class="">
            <div class="container-full">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="travel-expenses-reimbursement-section">

                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-7 width-100">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <tbody>

                                                <h3>Trip Expense</h3>

                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <td scope="col">Saurabh Shamrao Patil (JLTI280)</td>
                                                    <th scope="col">Currency</th>
                                                    <td scope="col">INR </td>
                                                </tr>

                                                <tr>
                                                    <th scope="col">Job Title</th>
                                                    <td scope="col">Saurabh Shamrao Patil-Sr. Sales Engineer</td>
                                                    <th scope="col">Is Foreign Expense</th>
                                                    <td scope="col">No</td>
                                                </tr>

                                                <tr>
                                                    <th scope="col">Purpose of travel/client</th>
                                                    <td scope="col"> </td>
                                                    <th scope="col">Account to be charged</th>
                                                    <th colspan="2" scope="col"></th>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-5 width-100">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <tbody>
                                                <tr style="border:none">
                                                    <td colspan="2" style="border:none">
                                                        <img src="~/assets/images/new-logo/logokspNew.png" alt="" style="height: 60px; float: right;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Departure Date</th>
                                                    <td scope="col">18 Oct 2024</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Return Date</th>
                                                    <td scope="col">18 Oct 2024</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Travel Route (eg.DL-BOM-BLR-DL)</th>
                                                    <td scope="col">Home - Siemens Kalwa </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col" style="background-color: #e4e5eb;">Week No.</th>
                                                    <td scope="col"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-lg-12">
                                    <div class="table-responsive">

                                        <table class="table table-bordered mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Trip Name & Code</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">From City</th>
                                                    <th scope="col">To City</th>
                                                    <th scope="col">From Date</th>
                                                    <th scope="col">To Date</th>
                                                    <th scope="col">Expense Type</th>
                                                    <th scope="col">Sub Type</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Tax</th>
                                                    <th scope="col">Bill Amount</th>

                                                    <th scope="col">Customer / Product</th>


                                                    <th scope="col">Bill</th>
                                                    <th scope="col">Remarks</th>
                                                    <th scope="col">System Review</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="col">Local Travel Mumbai (TRP2024102190002)</td>
                                                    <td scope="col">18 Oct 2024</td>
                                                    <td scope="col">Mumbai</td>
                                                    <td scope="col"></td>

                                                    <td scope="col">18 Oct 2024</td>
                                                    <td scope="col">18 Oct 2024</td>


                                                    <td scope="col">Travel Actual</td>

                                                    <td scope="col">Fuel</td>
                                                    <td class="endtext">4000.54</td>
                                                    <td class="endtext" scope="col">0.00</td>
                                                    <td class="endtext" scope="col">4000.54</td>


                                                    <td scope="col"></td>






                                                    <td scope="col">
                                                        <a href="#" class="text-danger" data-bs-original-title="Download Bill" data-bs-toggle="tooltip" target="_blank">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                        </a>
                                                    </td>
                                                    <td scope="col"></td>
                                                    <td scope="col">   Bill is mandatory for this expense entry,   </td>

                                                </tr>

                                                <tr>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col">Total in <b> INR</b></td>
                                                    <td class="endtext" scope="col"> 4000.54</td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>

                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                </tr>
                                                <tr>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>
                                                    <td scope="col">Total Amount Reimbursed <b>INR</b></td>
                                                    <td class="endtext" scope="col"><b>4000.54</b></td>
                                                    <td scope="col"></td>
                                                    <td scope="col"></td>

                                                    <td scope="col"></td>


                                                    <td scope="col"></td>
                                                </tr>

                                                <tr>

                                                    <td rowspan="7" colspan="14" scope="col">
                                                        <p>
                                                            <b>Submitted Date :</b>

                                                            21/10/2024 09:25

                                                            <b>  &nbsp; &nbsp;| &nbsp; &nbsp;</b>  <b>Ip Address :</b> 49.249.213.43
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="10" scope="col">Submitted By :</td>


                                                </tr>
                                                <tr>
                                                    <td colspan="10" scope="col">Authorised By(RM) :</td>


                                                </tr>
                                                <tr>
                                                    <td colspan="10" scope="col">Checked By(HR) :</td>


                                                </tr>
                                                <tr>
                                                    <td colspan="10" scope="col">Verified By(HR) :</td>


                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="col-md-12 width-100 mt-30">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Action Date</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Approved By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td scope="col">15/11/2024 14:46</td>
                                                            <td scope="col">
                                                                <span class="text-success">Approved</span>
                                                            </td>
                                                            <td scope="col">Nitin Shelar (AGM- Sales (West))</td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Expense Type</th>
                                                            <th scope="col">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <td scope="col">Travel Actual</td>
                                                            <td class="endtext" scope="col">₹ 4000.54 </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" scope="col">Date wise summary</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <td scope="col">18/10/2024</td>
                                                            <td class="endtext" scope="col">₹ 4000.54 </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
        </div>

    </div>

    <!--<script>
        $(document).ready(function () {
            window.print();
        });
    </script>-->
</body>
</html>
