<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Add Mining Data</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="CardData">

                    <div class="card-body">
                        <div class="live-preview">

                            <div class="row gx-3 gy-2 align-items-center">
                                <div class="col-sm-3">
                                    <label class="form-label">Research Channel <span class="start-lable" style="color: red">*</span></label>
                                    <a href="#"><i class="bx bx-reset float-end" style="border:1px solid #000;margin-right:5px;font-size:18px;padding:2px;border-radius:5px;color:#000;font-weight:500"></i></a>
                                    <a href="AddResearchChannelType.html" target="_blank">
                                        <i class="bx bx-plus float-end" style="border:1px solid #000;margin-right:5px;font-size:18px;padding:2px;border-radius:5px;color:#000;font-weight:500"></i>
                                    </a>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="ResearchChannel">
                                        <option selected>- Select Research Channel -</option>
                                        <option value="1">Google</option>
                                        <option value="2">LinkedIn</option>

                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Research Audience<span class="start-lable" style="color: red">*</span></label>
                                    <a href="#"><i class="bx bx-reset float-end" style="border:1px solid #000;margin-right:5px;font-size:18px;padding:2px;border-radius:5px;color:#000;font-weight:500"></i></a>
                                    <a href="AddResearchAudience.html" target="_blank">
                                        <i class="bx bx-plus float-end" style="border:1px solid #000;margin-right:5px;font-size:18px;padding:2px;border-radius:5px;color:#000;font-weight:500"></i>
                                    </a>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="ResearchAudience">
                                        <option selected>- Select Research Audience -</option>
                                        <option value="1">Manufacturing</option>

                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Research Group<span class="start-lable" style="color: red">*</span></label>
                                    <a href="#"><i class="bx bx-reset float-end" style="border:1px solid #000;margin-right:5px;font-size:18px;padding:2px;border-radius:5px;color:#000;font-weight:500"></i></a>
                                    <a href="AddResearchGroup.html" target="_blank">
                                        <i class="bx bx-plus float-end" style="border:1px solid #000;margin-right:5px;font-size:18px;padding:2px;border-radius:5px;color:#000;font-weight:500"></i>
                                    </a>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="ResearchGroup">
                                        <option selected>- Select Research Group -</option>
                                        <option value="1"></option>

                                    </select>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <label class="form-label">Upload Data File<span class="start-lable" style="color: red">*</span></label> <a href="assets/SampleExcel.xlsx" class="float-end" style=" color:blue">Sample Excel</a>
                                    <input type="file" class="form-control" placeholder="eg. Profit Center Code">
                                </div>



                                <div class="col-lg-12">
                                    <button class="btn btn-primary" id="btn" Onclick="disablebutton()" style="float:right;">Import</button>

                                    <!--<a href="#" class="btn btn-primary " style="float:right;"></a>-->
                                    <!-- <a href="#" class="btn btn-danger " style="float:right;margin-right:10px;"> Cancel</a>-->
                                </div>
                                <!--end col-->
                            </div>


                        </div>

                    </div>
                </div>
            </div> <!-- end col -->
        </div>


        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-center">
                    <h4 class="mb-sm-0">OR</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="CardData">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="card-title mb-0">Add Contact</h5>
                            </div>


                        </div>
                    </div>
                    <div class="card-body">
                        <div class="live-preview">

                            <div class="row gx-3 gy-2 align-items-center">

                                <div class="col-sm-3">
                                    <label class="form-label">Research Channel</label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="rc">
                                        <option selected>- Select Research Channel -</option>
                                        <option value="1">Google</option>
                                        <option value="2">LinkedIn</option>

                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Research Audience</label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="ra">
                                        <option selected>- Select Research Audience -</option>
                                        <option value="1">Manufacturing</option>

                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Research Group</label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="rg">
                                        <option selected>- Select Research Group -</option>
                                        <option value="1"></option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">
                                        Contact Person Name
                                        <span class="start-lable" style="color: red">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. Akash Patel">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">
                                        Company Name
                                    </label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. KSP Consulting">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">
                                        GSTNo
                                    </label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg.">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">
                                        Website

                                    </label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. https://">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Email<span class="start-lable" style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. sales@kspconsults.com">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Alternate Email</label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. info@kspconsults.com">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Mobile No<span class="start-lable" style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. XXXXX XXXXX">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Alternate Mobile No</label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. XXXXX XXXXX">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Address<span class="start-lable" style="color: red">*</span></label>
                                    <textarea type="text" class="form-control" id="specificSizeInputName" placeholder="eg."></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Country Name<span class="start-lable" style="color: red">*</span></label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="specificSizeSelect">
                                        <option selected>- Select Country -</option>
                                        <option value="1">India</option>
                                        <option value="2">UK</option>
                                        <option value="3">Canada</option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-label">State Name<span class="start-lable" style="color: red">*</span></label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="State">
                                        <option selected>- Select State -</option>
                                        <option value="1">Gujarat</option>
                                        <option value="2">Indore</option>
                                        <option value="3">M.P</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">City Name <span class="start-lable" style="color: red">*</span></label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="City">
                                        <option selected>- Select City -</option>
                                        <option value="1">Vadodara</option>
                                        <option value="2">Surat</option>
                                        <option value="3">Rajkot</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">
                                        Pincode
                                        <span class="start-lable" style="color: red">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. ">
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">
                                        Land-line Number

                                    </label>
                                    <input type="text" class="form-control" id="specificSizeInputName" placeholder="eg. XXXXX XXXXX">
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-label">
                                        Industry Sector
                                        <span class="start-lable" style="color: red">*</span>
                                    </label>
                                    <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="IndustrySector">
                                        <option selected>- Select Industry Sector -</option>
                                        <option value="1">Manufacturing</option>

                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                                        <label class="form-check-label" for="autoSizingCheck2">
                                            Is Display
                                        </label>
                                    </div>
                                </div>                                            <!--end col-->
                                <div class="col-lg-3">

                                    <a href="#" class="btn btn-primary " style="float:right;"> Submit</a>
                                    <a href="#" class="btn btn-danger " style="float:right;margin-right:10px;"> Cancel</a>
                                </div>
                                <!--end col-->
                            </div>


                        </div>

                    </div>
                </div>
            </div> <!-- end col -->
        </div>
        <!--end row-->

    </div> <!-- container-fluid -->
</div>