@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylecss {
    <style>


        /*   .overlay {
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 9999;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: white;
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                }

                .overlay-content {
                    background-color: rgba(0, 0, 0, 0.7);
                    padding: 20px;
                    border-radius: 5px;
                    position: relative;
                    max-width: 90%;
                    max-height: 90%;
                    box-sizing: border-box;
                } */
        .salesorder {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #38454a;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 20;
            top: 30px;
            right: 0px;
        }

        .salesorder:hover .tooltiptext {
            visibility: visible;
        }
    </style>
} 
<div class="page-content">
    <div class="container-fluid">


        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="CardData">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="card-title mb-0">View Project Task Closure</h5>
                            </div>
                            <!--<div class="col-md-1">
                                <i class="bx bxs-pin float-end custom-icon-color"></i>
                            </div>-->
                            <div class="col-md-4">
                                <a><i class="bx bxs-pin float-end custom-icon-color"></i></a>
                                <!--<a id="AnchorAdd" runat="server" href="AddCreateProject.html"
                                   class="btn btn-dark float-end custom-class">
                                    Add
                                    Create Project
                                </a>-->
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="row gx-3">
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <label class="form-label">Project</label>

                                <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="project">
                                    <option selected>- Select Project Name -</option>
                                    <option value="1">Project 1</option>
                                    <option value="2">Project 2</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <label class="form-label">Project Status</label>

                                <select class="form-select2 js-example-basic-single" data-choices data-choices-sorting="true" id="status">
                                    <option selected>- Select Project Status -</option>
                                    <option value="1">Completed </option>
                                    <option value="2">In Progress</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12" style="margin-top:27px;">
                                <a class="btn btn-primary">Search</a>
                            </div>
                        </div>
                        <div class="table-responsive mt-3">

                            <table id="buttons-datatables" class="display table table-bordered"
                                   style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>UUID</th>
                                        <th>Project Name</th>
                                        <th>Phase Name</th>
                                        <th>Project Step</th>
                                        <th>Project Task</th>
                                        <th>Task Progress</th>
                                        <th>Task Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="@Url.Action("AddProjectTaskClosure","Project")">821aea56-3e4d-4c23-b580-1957e3038875</a>
                                        </td>
                                        <td>Project 1</td>
                                        <td>Phase 1</td>
                                        <td>Step 1</td>
                                        <td>Task 1</td>
                                        <td>

                                            <div class="mt-auto">
                                                <div class="d-flex mb-2">
                                                    <div class="flex-grow-1">
                                                        <div>60%</div>
                                                    </div>
                                                </div>
                                                <div class="progress progress-sm animated-progress">
                                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" style="width: 60%; background-color:rgb(227 78 37) !important;">
                                                    </div><!-- /.progress-bar -->
                                                </div><!-- /.progress -->
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">Not Updated</span></td>


                                        <td>

                                            <a id="AnchorAdd" runat="server" href="#"
                                               class="btn btn-danger custom-class">
                                                Delete
                                            </a>
                                            <a id="AnchorAdd" runat="server" href="#"
                                               class="btn btn-sm btn-outline-dark salesorder">
                                                <i class="ri-download-cloud-2-line" style="font-weight:600;"></i>
                                                <span class="tooltiptext">Download Project Task Report</span>
                                            </a>

                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="card" id="CardAccessDenied" style="display:none">
                    <div class="w3-display-middle" style="margin-top:100px;">
                        <h1 class="w3-jumbo w3-animate-top w3-center"><span style="color:#38454a">Access Denied</span></h1>
                        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
                        <h3 class="w3-center w3-animate-right">You don't have Rights to Access this Page</h3>
                        <h3 class="w3-center w3-animate-right">Kindly Contact Administrative</h3>
                        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
                        <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- container-fluid -->
</div>
@* <div id="overlay" class="overlay">
    <div class="overlay-content">Please Wait...</div>
</div> *@

<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="~/assets/js/plugins.js"></script>

<!-- list.js min js -->
<script src="~/assets/libs/list.js/list.min.js"></script>

<!--list pagination js-->
<script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>

<!-- titcket init js -->
<script src="~/assets/js/pages/tasks-list.init.js"></script>

<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>


<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/js/dataTables.responsive.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/jszip.min.js"></script>
<script src="~/assets/js/pdfmake.min.js"></script>
<script src="~/assets/js/vfs_fonts.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>

<!--select2 cdn-->
<script src="~/assets/js/select2.min.js"></script>
             
<script src="~/assets/js/pages/select2.init.js"></script>
<script>
    $(document).ready(function () {
        $('#buttons-datatables').DataTable({

        });
    });
</script>